* {
  box-sizing: border-box;
  font-family: $font-family;
}

html {
  scroll-padding-top: 9rem;

  @media (max-width: $tablet-max-width) {
    scroll-padding-top: 14rem;
  }
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  background-color: $header-bg-color;
  box-shadow: $box-shadow;

  .header--title {
    margin: 0;
    font-family: $header-font-family;
    font-size: 4rem;

    color: $menu-hover-color;
    text-align: center;
  }

  /* Relatiu al menú */
  .header--menu {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;

    @media (max-width: $tablet-max-width) {
      flex-direction: column;
      align-items: center;
    }

    .menu--link {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;

      font-family: 'PT Sans', sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: $text-light;
      text-align: center;
      text-decoration: none;

      background-color: transparent;
      border-radius: 0px;

      .menu--icon {
        margin-right: 5px;
      }

      &:hover {
        color: $text-dark;
        background-color: $menu-hover-color;
        transition: 0.4s;
      }
    }
  }
}

main {
  padding-bottom: 10px;
  background-color: $bg-color;

  .span--en {
    font-style: italic;
  }

  section {
    margin-right: 20px;
    margin-left: 20px;

    .section--title {
      color: $title-color;
      text-shadow: $text-shadow;
    }

    &:first-of-type .section--title {
      padding-top: 20px;
      margin-top: 0px;
    }

    .section--article {
      padding: 10px 20px;
      margin-bottom: 20px;
      background-color: $article-color;
      box-shadow: $box-shadow;
    }

    .article--flex {
      display: flex;
      row-gap: 20px;
      column-gap: 20px;
      justify-content: center;

      @media (max-width: $tablet-max-width) {
        flex-direction: column;
        align-items: center;
      }

      .figure--image,
      .figure--iframe {
        max-width: 100%;
        height: auto;
      }
    }

    .article--figure {
      margin: 0px;
      text-align: center;

      .figure--image {
        width: 400px;
        border-radius: 20px;
        box-shadow: $image-box-shadow;
      }
    }
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;

  color: $footer-text-color;
  text-align: center;
  background-color: $footer-bg-color;
}