<article id="la-guitarra">
    <h2>La guitarra</h2>
    <p>Ja heu vist com vàrem construir la guitarra... Ara queda veure-la en acció.</p>
    <div class="flex">
        <figure>
            <img src="./assets/images/jordi_guitarra.png" alt="Jordi en un concert amb la guitarra">
            <figcaption>Jordi en un concert amb la guitarra.</figcaption>
        </figure>
        <figure>
            <img src="./assets/images/jordi_guitarra.png" alt="Jordi en un concert amb la guitarra">
            <figcaption>Jordi en un concert amb la guitarra.</figcaption>
        </figure>
    </div>
</article>