<section id="la-guitarra">
    <h2 class="section--title">La guitarra</h2>
    <article class="section--article">
        <p>Ja heu vist com vàrem construir la guitarra... Ara queda veure-la en acció.</p>
        <div class="article--flex">
            <figure class="article--figure">
                <img class="figure--image" src="./assets/images/jordi_guitarra.png" alt="Jordi en un concert amb la guitarra">
                <figcaption>Jordi en un concert amb la guitarra.</figcaption>
            </figure>
            <figure class="article--figure">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iPzylwu5z-A?si=oZ8Vds-GyphJQjcg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <figcaption>Videoclip de 'El Tiempo': gravada amb la guitarra.</figcaption>
            </figure>
        </div>
    </article>
</section>