<section id="introduccio">
    <h2>Introducció</h2>
    <p>D'ençà que tenia 12 anys, una de les meves passions ha estat tocar la guitarra. He passat incomptables hores aprenent i tocant aquest bell instrument, i tot de forma autodidàctica.</p>
    <p>Tot va començar a partir que em regalaren el videojoc Guitar Hero 2. Hores i hores jugant amb aquella guitarra de plàstic per, finalment, donar la passa a una de fusta, de veritat.</p>
    <p>Amb els anys, he tingut l'oportunitat de tenir moltes guitarres diferents, cadascuna amb el seu propi caràcter i so. A través d'aquestes experiències, he après a estimar i respectar la complexitat d'aquest instrument.</p>
    <p>El moment més especial va ser quan, finalment, vaig decidir unir forces amb el meu pare per construir una guitarra pròpia. Aquesta experiència va ser inoblidable i ens va connectar d'una manera única. Ara, aquesta guitarra és més que un instrument; és un testimoni de l'amor i la passió que compartim per la música.</p>
</section>