<section id="proces">
    <h2 class="section--title">El procés</h2>
    <article class="section--article">
        <h3>Selecció de components</h3>
        <p>Per iniciar el projecte havíem de triar: o bé comprar blocs de fusta, ajuntar-los, tallar-los, etc., o bé comprar una forma predefinida i començar a partir d'allà (semblant a un <span class="span--en" lang="en">Boilderplate</span> HTML <i class="fa-regular fa-face-smile-wink"></i>). Vàrem optar per aquesta segona opció, ja que no tenim les eines de fuster per fer-ho des de zero.</p>
        <p>La forma de guitarra que sempre m'ha agradat més és la típica Stratocaster, per tant vàrem cercar una forma com aquesta feta amb <span class="span--en" lang="en">Swamp Ash</span> (cendra d'aiguamoll), un tipus de fusta que li atorga un timbre peculiar al so de la guitarra.</p>
        <p>Una altra elecció és el tipus de pastilles per instal·lar a la guitarra. N'hi ha de molts tipus: <span class="span--en" lang="en">simple coil</span>, <span class="span--en" lang="en">humbuckers</span>, <span class="span--en" lang="en">P90</span>, etc. El so que més m'agrada dels discs de música és la distorsió anyenca, bàsica i crua. Per això, vàrem seleccionar unes P90 de <span class="span--en" lang="en">boutique</span>, que les fa un americà a mà.</p>
        <p>Finalment, quedava per triar el pal de la guitarra. Vàrem comprar a una tenda anglesa un pal de pi, tintat de color fusta intens.</p>
        <p>Un cop triat tot i rebut a casa, vàrem procedir a les modificacions.</p>
    </article>
    <article class="section--article">
        <h3>Modificacions al cos</h3>
        <p>El cos escollit té la configuració típica de la Stratocaster: 3 pastilles <span class="span--en" lang="en">simple coil</span> (bobina simple).</p>
        <figure class="article--figure">
            <img class="figure--image" src="./assets/images/cos.jpeg" alt="Cos de la guitarra">
            <figcaption>Cos de la guitarra.</figcaption>
        </figure>
        <p>Com he comentat abans, a l'haver triat pastilles P90, hem de modificar el cos per fer que hi càpiguen, ja que sinó és impossible muntar-les. El més senzill és fer una cavitat en el lloc de les 3 pastilles, de manera que si al futur volgués canviar de tipus de pastilles no caldria fer cap modificació al cos.</p>
        <figure class="article--figure">
            <img class="figure--image" src="./assets/images/cavitat_p90.jpeg" alt="Cos de la guitarra amb cavitat per P90">
            <figcaption>Cos de la guitarra amb cavitat per P90.</figcaption>
        </figure>
        <p>Aquesta tasca la vàrem dur a terme amb diferents enformadors, per deixar una feina fina i correcte. Finalment, amb escates de diferent granularitat vàrem rematar la feina.</p>
    </article>
    <article class="section--article">
        <h3>Encaix del pal al cos</h3>
        <p>El pal ha d'anar ben passat al cos, és a dir, ha d'encaixar a la perfecció, amb pressió. Un cop va arribar el pal a casa, no encaixava al cos per mil·límetres. Per tant, amb diferents escates vam aconseguir ajustar-lo.</p>
        <figure class="article--figure">
            <img class="figure--image" src="./assets/images/mastil.jpeg" alt="Cos de la guitarra amb pal">
            <figcaption>Cos de la guitarra amb pal.</figcaption>
        </figure>
    </article>
    <article class="section--article">
        <h3>Disseny de la guitarra</h3>
        <p>Ja teníem les principals peces, per tant ara la següent passa era fer el disseny de la guitarra. Agafàrem el programari de GIMP i començàrem a jugar amb els patrons i colors.</p>
        <p>Finalment, vàrem decidir emprar tres colors: blau, groc i blanc, amb un disseny ratxat.</p>
        <figure class="article--figure">
            <img class="figure--image" src="./assets/images/disseny.jpeg" alt="Disseny de la guitarra">
            <figcaption>Disseny de la guitarra.</figcaption>
        </figure>
    </article>
    <article class="section--article">
        <h3>Pintat de la guitarra</h3>
        <p>Ja teníem el disseny. El que vam fer a continuació va ser comprar online pintura especial per a guitarres a una tenda valenciana. La pintura la vàrem comprar en format spray, per aconseguir un millor acabat.</p>
        <p>Mentre arribava la pintura, preparàrem l'espai per poder pintar la guitarra i no fer malbé la resta. Vàrem cobrir de plàstic l'habitació i els mobles.</p>
        <p>Per poder tenir el cos de la guitarra recta, filàrem pels forats del cos amb ferro i el vàrem penjar d'un estri que teníem allà.</p>
        <div class="article--flex">
            <figure class="article--figure">
                <img class="figure--image" src="./assets/images/pre-pintura.jpeg" alt="Preparació per pintar">
                <figcaption>Preparació per pintar.</figcaption>
            </figure>
            <figure class="article--figure">
                <img class="figure--image" src="./assets/images/blau.jpeg" alt="Guitarra pintada de blau">
                <figcaption>Guitarra pintada de blau.</figcaption>
            </figure>
            <figure class="article--figure">
                <img class="figure--image" src="./assets/images/groc.jpeg" alt="Guitarra pintada de blau i groc">
                <figcaption>Guitarra pintada de blau i groc.</figcaption>
            </figure>
            <figure class="article--figure">
                <img class="figure--image" src="./assets/images/blanc.jpeg" alt="Guitarra protegida per acabar de pintar en blanc">
                <figcaption>Guitarra protegida per acabar de pintar en blanc.</figcaption>
            </figure>
        </div>
    </article>
    <article class="section--article">
        <h3>Apantallament de la guitarra</h3>
        <p>Les pastilles P90 que hem triat són també de bobinat simple. Aquestes generen sempre un brunzit inherent, anomenat <span class="span--en" lang="en">hum</span>. Per minimitzar aquest brunzit, el que es fa es apantallar la cavitat de les pastilles amb un material conductor per, posteriorment, derivar el terra de les pastilles allà.</p>
        <p>Vàrem anar a la ferreteria i compràrem aquest material en format làmina adhesiva, de manera que la col·locació va ser molt senzilla.</p>
        <div class="article--flex">
            <figure class="article--figure">
                <img class="figure--image" src="./assets/images/p90.jpeg" alt="Pastilles P90">
                <figcaption>Pastilles P90.</figcaption>
            </figure>
            <figure class="article--figure">
                <img class="figure--image" src="./assets/images/apantallament.jpeg" alt="Guitarra amb apantallament">
                <figcaption>Guitarra amb apantallament.</figcaption>
            </figure>
        </div>
    </article>
    <article class="section--article">
        <h3>Instal·lació de pastilles, pont i pal</h3>
        <p>Un cop apantallada, i arribades les pastilles, vam agafar el soldador i, seguint l'esquema de les instruccions, vàrem instal·lar les pastilles sense cap tipus de problema.</p>
        <p>Seguidament, vàrem instal·lar el pont de la guitarra, que s'encarrega de l'alçada i la transmissió de les vibracions de les cordes. Va ser una tasca ben senzilla, només va ser cargolar i llestos.</p>
        <p>Finalment, vàrem tornar a passar el pal a pressió. Igualment, es recomana atornillar-lo al cos per la part del darrere, així que dit i fet.</p>
        <figure class="article--figure">
            <img class="figure--image" src="./assets/images/pastilles_mastil.jpg" alt="Guitarra amb apantallament">
            <figcaption>Guitarra amb apantallament.</figcaption>
        </figure>
    </article>
    <article class="section--article">
        <h3>Claviller i encordat</h3>
        <p>Ja quasi estava finalitzada!</p>
        <p>Quedaven dos detalls: instal·lar el claviller, que és on s'afinen i tensen les cordes, i encordar la guitarra.</p>
        <p>Amb una broca ben petita vàrem fer els forats necessaris pel claviller i els vàrem cargolar. I per l'encordat... tasca senzilla després de tants d'anys fent-ho.</p>
        <figure class="article--figure">
            <img class="figure--image" src="./assets/images/finalitzada.jpeg" alt="Guitarra amb apantallament">
            <figcaption>Guitarra finalitzada.</figcaption>
        </figure>
        <p>Ja tenim la nostra guitarra finalitzada i llesta per l'acció!</p>
    </article>
</section>