/* Colors */
$bg-color: #4D4C7D;
$text-dark: black;
$title-color: white;
$text-light: white;
$menu-hover-color: #F99417;
$article-color: white;
$color-header-gradient: #363062;
$color-header-text: white;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$font-family: 'PT Sans', sans-serif;
$footer-bg-color: #1e1a3a;
$footer-text-color: white;
